<div class="card">
        <img class="card-img" src="/images/rap-albums.jpeg" alt="Rap-album">
        <div class="card-content">
          </div>  
      <div class="container-6">
  <div class="card-6">
    <div >
      <img src="">
    </div>
    <div class="contentBx">
      <div class="card-content">
          <h1 class="card-header">{{artist_name}}</h1>
          <p class="card-text">
            
             {{#each Albums}}
       <h1>Album: {{this.album}}</h1>
     {{/each}}
      <h2>Artist</h2>
      <div class="size">
        <h3>Song:</h3>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
      </div>
      <div class="color">
      </div>
      <a href="#">Play</a>
    </div>
  </div>
</div>
<!--
<section class="artists">
  <div class="artist-name">
      <h3>Artist's Detail</h3>
     <h2>Artist Name: {{artist_name}}</h2>
     {{#each Albums}}
       <h1>Album: {{this.album}}</h1>
<<<<<<< HEAD
     {{/each}}
      

    
</div>
</section>

          <h1 class="card-header">{{artist_name}}</h1>
          <p class="card-text">
             {{#each Albums}}
       <h1>Album: {{this.album}}</h1>
     {{/each}}
          </p>
          
        </div>
      </div>  
      
<!--
<section class="artists">

  <div class="artist-name">
    

     <h1>Artist's Detail</h1> 
     <h1>Artist Name: {{artist_name}}</h1>
     {{#each Albums}}
       <h1>Album: {{this.album}}</h1>
     {{/each}}
      

    
=======
     {{/each}} 
>>>>>>> main
</div>
</section>